@charset "UTF-8";

:root {
    --cor0: #03258C;
    --cor1: #021F59;
    --cor2: #033E8C;
    --cor3: #03588C;
    --cor4: #011826;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    min-width: 260px;
    max-width: 1000px;
    margin: auto;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;

}


div img {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.438);
}

img {
    position: absolute; /* Para posicionar o texto sobre a imagem */
    top:20%; /* Centraliza verticalmente */
    left: 8%; /* Centraliza horizontalmente */
    width: 300px;
    height: 300px;
    border-radius: 17px;
    object-fit: cover;
}

div h1 {
    position: absolute; /* Para posicionar o texto sobre a imagem */
    top: 41%; /* Centraliza verticalmente */
    left: 39%; /* Centraliza horizontalmente */
    transform: translate(-75.95%, -500%); /* Ajusta a posição para o centro exato */
    color: rgb(2, 1, 1); /* Cor do texto */
    font-size: 20px; /* Tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
}

div p {
    position: absolute; /* Para posicionar o texto sobre a imagem */
    top: 45%; /* Centraliza verticalmente */
    left: 41%; /* Centraliza horizontalmente */
    transform: translate(-10%, -60%); /* Ajusta a posição para o centro exato */
    color: rgb(0, 0, 0); /* Cor do texto */
    font-size: 20px; /* Tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    text-shadow: 1px 1px 1px black;
    text-align: justify;
}

button {
    color: black;
    background-color: blue;
    display: flex-end;
    justify-content: center;
    
}