@charset "UTF-8";

:root {
    --cor0: #03258C;
    --cor1: #021F59;
    --cor2: #033E8C;
    --cor3: #03588C;
    --cor4: #011826;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(to bottom, #03258C, #021F59, #011826);
}

main {
    margin: auto;
    margin-bottom: 1px;
    padding: 143.50px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 17px;
    object-fit: cover;
}

div h1 {
    position: absolute; /* Para posicionar o texto sobre a imagem */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-75.95%, -500%); /* Ajusta a posição para o centro exato */
    color: rgb(255, 255, 255); /* Cor do texto */
    font-size: 20px; /* Tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
}

div p {
    position: absolute; /* Para posicionar o texto sobre a imagem */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-10%, -60%); /* Ajusta a posição para o centro exato */
    color: rgb(255, 255, 255); /* Cor do texto */
    font-size: 20px; /* Tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    text-shadow: 1px 1px 1px black;
    text-align: justify;
}
