@charset "UTF-08";

body {
    font-family: Arial, Helvetica, sans-serif;
    /*
    Medidas absolutas
    cm, mm, in, px, pc
    
    Medidas Relativas
    16px geralmente = 1em
    em, ex, rem, vw, %
    */
    font-size: 1em;

}
h1 {
    /* shorthand font
    - font-style -> font-weight -> font-size -> font-family

    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    font-size: 3em;
    font-style: italic;
    */
    font: normal 16px Arial, sans-serif;
    text-align: center;
}
h2 {
    font: normal 16px Arial, sans-serif;
    text-align: right;
}
p {
    text-align: justify; 
    text-indent: 30px;
}